---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Manifesto from "@/components/Manifesto.astro";
import Footer from "@/components/Footer.astro";
---

<Layout>
  <Header />

  <main class="flex-grow z-10 pt-32 pb-24">
    <Manifesto />
  </main>

  <Footer />
</Layout>
